@using Lab0225_InitProject.Models; 
@model Array
@{
    int count = 0;
}
<h1>這是智慧化</h1>

@foreach(var item in Model)
{
    if (item is List<TagList>)
    {
        var tagLists = item as List<TagList>;
        @foreach (var tagList in tagLists)
        {
            @if (tagList.TagClass == "W")
            {
                <button type="button" class="btn btn-outline-info weather-btn">
                    @Html.DisplayFor(modelItem => tagList.TagName)
                </button>
            }


            @if (tagList.TagClass == "I")
            {
                <button type="button" class="btn btn-outline-success interest-btn">
                    @Html.DisplayFor(modelItem => tagList.TagName)
                </button>
            }

            @if (tagList.TagClass == "C")
            {
                <button type="button" class="btn btn-outline-warning country-btn">
                    @Html.DisplayFor(modelItem => tagList.TagName)
                </button>
            }
            
        }
    }
}

<script>
    $(document).ready(function () {
        var maxSelections = 3;
        var selectedInterests = [];
        var weatherString = "";
        var countryString = "";

        $(".interest-btn").click(function () {
            var interestValue = $(this).text().trim();

            if ($(this).hasClass("active")) {
                // 如果按钮已被选中，则从数组中移除该值
                selectedInterests = selectedInterests.filter(item => item !== interestValue);
            } else {
                if (selectedInterests.length >= maxSelections) {
                    // 如果已选择的兴趣数量超过了最大允许值，则不执行任何操作
                    alert("最多選3個!")
                    return;
                }
                // 添加选中的值到数组中
                selectedInterests.push(interestValue);
            }

            $(this).toggleClass("active");
            updateAjaxData();
        });

        $(".weather-btn").click(function () {
            $(".weather-btn").removeClass("active");
            weatherString = $(this).text().trim();
            toggleActiveClass($(this));
            updateAjaxData();
        });

        $(".country-btn").click(function () {
            $(".country-btn").removeClass("active");
            countryString = $(this).text().trim();
            toggleActiveClass($(this));
            updateAjaxData();
        });

        function toggleActiveClass(element) {
            if (!element.hasClass("active")) {
                element.addClass("active");
            }
        }

        function updateAjaxData() {
            var ajaxData = {
                interests: selectedInterests,
                weather: weatherString,
                country: countryString
            };
            console.log("Ajax Data:", ajaxData);
        }


    });
</script>