@model Array
@using Lab0225_InitProject.Models;

<h1>這是客製化</h1>
@foreach (var item in Model)
{
    if (item is List<UniqueCity>)
    {
        var cityLists = item as List<UniqueCity>;
        @foreach (var cityList in cityLists)
        {
            <button type="button" class="btn btn-outline-primary city-btn">
                @Html.DisplayFor(modelItem => cityList.city)
            </button>
        }
    }
}

@* 卡片樣式區 假設有71筆資料就要用for弄出71張卡片*@
<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item item1"></li>
        <li class="list-group-item item2"></li>
        <li class="list-group-item item3"></li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>


<p id="demo"></p>

<script>
    $(document).ready(function () {
        $(".city-btn").click(function () {
            $(".city-btn").removeClass("active");
            var cityString = $(this).text().trim();
            toggleActiveClass($(this));
            updateAjaxData(cityString);
        });

        function toggleActiveClass(element) {
            if (!element.hasClass("active")) {
                element.addClass("active");
            }
        }

        function updateAjaxData(cityString) {
            $.ajax({
                url: "/AiRecommend/Itinerary",
                method: "POST",
                data: { city: cityString }
            }).done(function (data) {
                $.each(data, function (idx, elem) {
                    //console.log(elem.scenicSpotName);
                    //$('.item1').append(`<p>${elem.scenicSpotName}</p>`)
                })
            });
        }
    });

</script>


